.contenedor{
    
    text-align: center;
    margin-top: 50px;
}
.formulario{
    background-color: rgb(241, 228, 210);
    color: rgb(126, 126, 126);
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 5px 5px 3px #c0996c;
}
.formulario textarea,input{
    outline: none;
    border: 0;
    border: solid 1px rgb(207, 183, 149);
    border-radius: 2px;
    width: 400px;
}
.formulario input{
    padding: 10px;
}
.formulario input:focus{
    border-color: rgb(238, 160, 52);
}


.formulario p{
    color: red;
}

.dietas select{
    
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     margin: 8px;
     width: 160px;
     border: solid 1px burlywood;
}

.dietas select:hover{
    background-color: rgb(163, 130, 86);
    color: aliceblue;
}

.boton{
    width: 200px;
    border: none;
    border: solid 1px rgb(207, 183, 149);
    background-color: rgb(163, 130, 86);
    color: rgb(223, 223, 223);
}

.exito{
    width: 500px;
    height: 50px;
    background-color:rgb(41, 202, 36);
    color: azure;
}

.error{
    width: 500px;
    height: 50px;
    background-color:rgb(187, 53, 53);
    color: azure;
}
.volver{
    margin: 20px;
}

.boton{
    text-decoration: none;
    padding: 12px;
    border: none;
    background-color: rgb(180, 136, 78);
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    
}
.boton:hover{
    background-color: rgb(145, 101, 43);
    color: rgb(247, 243, 239);
}

