.landing{
    height:100vh;
    width:100%;
    background-image: url(../img/fondo.jpg);
   
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.boton{
    
    padding:25px;
    border: none;
    border-radius: 5px;
    background-color: bisque;
    
}